<!-- <div class="container-fluid">
    <div class="row">
      <div class="col-md-12"> -->
        <!-- <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
               <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button> <a class="navbar-brand" routerLink = "/home">SITE</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li routerLinkActive="active"><a routerLink="/art">Art</a></li>
              <li routerLinkActive="active"><a routerLink="/category">Categories</a></li> 
              <li routerLinkActive="active"><a routerLink="/login">Login</a></li> 
              <li class="dropdown">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="#">Action</a>
                  </li>
                  <li>
                    <a href="#">Another action</a>
                  </li>
                  <li>
                    <a href="#">Something else here</a>
                  </li>
                  <li class="divider">
                  </li>
                  <li>
                    <a href="#">Separated link</a>
                  </li>
                  <li class="divider">
                  </li>
                  <li>
                    <a href="#">One more separated link</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </nav> -->
        <!-- <app-header></app-header>
        <div class="jumbotron">
          <h2>
            Hello, world!
          </h2>
          <p>
            This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
          </p>
          <p>
            <a class="btn btn-primary btn-large" href="#">Learn more</a>
          </p>
        </div> -->
        <!-- <div class="carousel slide" id="carousel-103426">
          <ol class="carousel-indicators">
            <li data-slide-to="0" data-target="#carousel-103426">
            </li>
            <li data-slide-to="1" data-target="#carousel-103426">
            </li>
            <li data-slide-to="2" data-target="#carousel-103426" class="active">
            </li>
          </ol>
          <div class="carousel-inner">
            <div class="item">
              <img alt="Carousel Bootstrap First" src="http://lorempixel.com/output/sports-q-c-1600-500-1.jpg" />
              <div class="carousel-caption">
                <h4>
                  First Thumbnail label
                </h4>
                <p>
                  Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                </p>
              </div>
            </div>
            <div class="item">
              <img alt="Carousel Bootstrap Second" src="http://lorempixel.com/output/sports-q-c-1600-500-2.jpg" />
              <div class="carousel-caption">
                <h4>
                  Second Thumbnail label
                </h4>
                <p>
                  Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                </p>
              </div>
            </div>
            <div class="item active">
              <img alt="Carousel Bootstrap Third" src="http://lorempixel.com/output/sports-q-c-1600-500-3.jpg" />
              <div class="carousel-caption">
                <h4>
                  Third Thumbnail label
                </h4>
                <p>
                  Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                </p>
              </div>
            </div>
          </div> <a class="left carousel-control" href="#carousel-103426" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-103426" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
        </div> -->
      <!-- </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h2>
          Heading
        </h2>
        <p>
          Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        </p>
        <p>
          <a class="btn" href="#">View details »</a>
        </p>
      </div>
      <div class="col-md-4">
        <h2>
          Heading
        </h2>
        <p>
          Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        </p>
        <p>
          <a class="btn" href="#">View details »</a>
        </p>
      </div>
      <div class="col-md-4">
        <h2>
          Heading
        </h2>
        <p>
          Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        </p>
        <p>
          <a class="btn" href="#">View details »</a>
        </p>
      </div>
    </div>
  </div> -->
  
<!-- 
  <div materialize="slider" class="slider">
    <ul class="slides">
      <li>
        <img src="https://lorempixel.com/580/250/nature/1">
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="https://lorempixel.com/580/250/nature/1">
        <div class="caption left-align">
          <h3>Left Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li> -->




      <!-- <!DOCTYPE html>
      <html lang="en">
      <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
        <title>Parallax Template</title>
      
       
        <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link rel="shortcut icon" href="images/favicon (8).ico" type="image/x-icon">
      <link rel="icon" href="images/favicon (8).ico" type="image/x-icon">
      </head>
      <body> -->
      <div id="navbar" class="navbar-fixed scrollspy">
        <nav  class="white">
          <div class="nav-wrapper container">
            <div class="container"> <a href="#navbar" class="brand-logo">Logo</a></div>
           
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
            <ul class="right hide-on-med-and-down">
             
              <li><a class="head-link" href="#projects">Projects</a></li>
               <li><a class="head-link" href="#aboutus">About Us</a></li>
              <li><a class="head-link" href="#contactus">Contact Us</a></li>
             
            </ul>
            <ul class="right side-nav" id="mobile-demo">
              <li><a class="head-link" href="#projects">Projects</a></li>
               <li><a class="head-link" href="#aboutus">About Us</a></li>
              
              <li><a class="head-link" href="#contactus">Contact Us</a></li>
            </ul>
          </div>
        </nav>
        </div>
      
        <div id="index-banner" class="parallax-container">
          <div class="section no-pad-bot">
            <div class="container">
              <br><br>
              <h1 class="header center teal-text text-lighten-2">Parallax Theme</h1>
              <div class="row center">
                <h5 class="header col s12 light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</h5>
              </div>
              <div class="row center">
                <a href="#" class="btn-large waves-effect waves-light purple lighten-1">Find more</a>
              </div>
              <br><br>
      
            </div>
          </div>
          <div class="parallax" materialize="parallax"><img src="https://lorempixel.com/580/250/nature/1" alt="Unsplashed background img 2"></div>
        </div>
      
      
        <div class="container">
          <div class="section">
      
            <!--   Icon Section   -->
            <div class="row">
              <div class="col s12 m4">
                <div class="icon-block">
                  <h2 class="center" style="color:#333"><i class="mdi-av-new-releases"></i></h2>
                  <h5 class="center">Feature one</h5>
      
                  <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim </p>
                </div>
              </div>
      
              <div class="col s12 m4">
                <div class="icon-block">
                  <h2 class="center" style="color:#333"><i class="mdi-hardware-cast"></i></h2>
                  <h5 class="center">Feature two</h5>
      
                  <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim </p>
                </div>
              </div>
      
              <div class="col s12 m4">
                <div class="icon-block">
                  <h2 class="center" style="color:#333"><i class="mdi-hardware-keyboard-alt"></i></h2>
                  <h5 class="center">Feature three</h5>
                  <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim </p>
                </div>
              </div>
            </div>
      
          </div>
        </div>
      
      
        <div class="parallax-container valign-wrapper">
          <div class="section no-pad-bot">
            <div class="container">
              <div class="row center">
                <h5 class="header col s12" style="color: #333;">Vertically centered text</h5>
              </div>
            </div>
          </div>
          <div class="parallax" materialize="parallax"><img src="https://lorempixel.com/580/250/nature/1" alt="img"></div>
        </div>
      
        <div class="container section scrollspy" id="projects">
          <div class="section">
            <br>
            <br>
            <h4 class="center">Our Work</h4>
            <br>
            <div class="row">
              <div class="col s6">
              <img class="materialboxed responsive-img" data-caption="Description about the work or project"  src="https://lorempixel.com/580/250/nature/1">
              </div> 
              <div class="col s6">
              <img class="materialboxed responsive-img" data-caption="Description about the work or project"  src="https://lorempixel.com/580/250/nature/1">
              </div> 
            </div><!--row-->
            
             <div class="row">
              <div class="col s6">
              <img class="materialboxed responsive-img" data-caption="Description about the work or project" src="https://lorempixel.com/580/250/nature/1">
              </div> 
              <div class="col s6">
              <img class="materialboxed responsive-img" data-caption="Description about the work or project" src="https://lorempixel.com/580/250/nature/1">
              </div> 
            </div><!--row-->
            
            <div class="center">
              <a class="waves-effect waves-light btn purple lighten-1">View more</a>
            </div>
      
          </div>
        </div>
      
      
         <div class="parallax-container valign-wrapper section scrollspy" id="aboutus">
          <div class="section no-pad-bot">
            <div class="container">
              <div class="center row col s3">
                
                <h3>About Us</h3>
             </div>
              <div class="center row col s12">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
             </div>
             
            </div>
          </div>
          <div class="parallax" materialize="parallax"><img src="https://lorempixel.com/580/250/nature/1" alt="img"></div>
        </div>
      
      
      
      <div class="container section scrollspy" id="contactus">
        <div class="section">
          <br>
        <br>
        <h2>Contact Us</h2>	
        
      <div class="row">
          
        <form class="col s8">
        
          <div class="row">
            <div class="input-field col s6">
              <input id="name" type="text" class="validate">
              <label for="name">Your Name</label>
            </div>
         
          
            <div class="input-field col s6">
              <input id="email" type="email" class="validate">
              <label for="email">Your Email</label>
            </div>
          </div><!--row-->
          
           <div class="row">
            <div class="input-field col s12">
              <input id="message-sub" type="email" class="validate">
              <label for="message-sub">Message Subject</label>
            </div>
          </div>
          
           <div class="row">
            <div class="input-field col s12">
               <textarea id="text_area" class="materialize-textarea"></textarea>
              <label for="text_area">Your Message</label>
            </div>
          </div>
          
           
            <div>
              <a class="waves-effect waves-light btn purple lighten-1">Send Message<i class="mdi-content-send right"></i></a>
            </div>
           </form>
           
            <div class="col s12 m4">
                          <p>
                             Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                          </p>
                         <ul class="share-buttons">
        <li><a href="https://www.facebook.com/sharer/sharer.php?u=&t=" target="_blank" title="Share on Facebook"><img src="images/flat_web_icon_set/inverted/Facebook.png"></a></li>
        <li><a href="https://twitter.com/intent/tweet?source=&text=:%20" target="_blank" title="Tweet"><img src="images/flat_web_icon_set/inverted/Twitter.png"></a></li>
        <li><a href="https://plus.google.com/share?url=" target="_blank" title="Share on Google+"><img src="images/flat_web_icon_set/inverted/GooglePlus.png"></a></li>
      </ul>
                      </div>
           
           
      </div>
        </div>
      </div>
      
      
        <footer class="page-footer purple lighten-1">
         
          <div class="footer-copyright">
            <div class="container">
             <p>Copyright © Your website name</p>
            </div>
          </div>
        </footer>
      
      
        <!--  Scripts-->
        <!-- <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="js/materialize.js"></script>
        <script src="js/init.js"></script>
        <script>
        $(document).ready(function(){
          $('.materialboxed').materialbox();
            $('.button-collapse').sideNav();
            
        });
        </script>
        <script>
              $('.head-link').click(function(e) {
              e.preventDefault();
              
              var goto = $(this).attr('href');
      
              $('html, body').animate({
                  scrollTop: $(goto).offset().top
              }, 800);
          });
      
        </script>
      
             <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-60673008-2', 'auto');
        ga('send', 'pageview');
      </script> -->
      
<!-- 




      <div class="parallax-container">
        <div class="parallax" materialize="parallax"><img src="https://lorempixel.com/580/250/nature/1"></div>
      </div>
      <div class="section white">
        <div class="row container">
          <h2 class="header">Parallax</h2>
          <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
        </div>
      </div>
      <div class="parallax-container">
        <div class="parallax" materialize="parallax"><img src="https://lorempixel.com/580/250/nature/1"></div>
      </div> -->

      <div materialize class="col l4 m6 s12 gallery-item gallery-expand gallery-filter bigbang">
        <div class="gallery-curve-wrapper">
          <a class="gallery-cover gray">
            <img class="responsive-img" src="https://lorempixel.com/580/250/nature/1" alt="placeholder">
          </a>
          <div class="gallery-header">
            <span>Gallery Link</span>
          </div>
          <div class="gallery-body">
            <div class="title-wrapper">
              <h3>Grapefruit</h3>
              <span class="price">$14.99</span>
            </div>
          </div>
          <div class="gallery-action">
            <a class="btn-floating btn-large waves-effect waves-light">
              <i class="material-icons">favorite
            </i></a>
          </div>
        </div>
      </div>