<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>
<!-- <nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Logo</a>
    <ul class="right hide-on-med-and-down">
        <li><a class="dropdown-button" href="#!" data-activates="dropdown1">
            Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
      <li routerLinkActive="active"><a routerLink="/art">Art</a></li>
      <li routerLinkActive="active"><a routerLink="/category">Categories</a></li> 
      <li routerLinkActive="active"><a routerLink="/login">Login</a></li>         
    </ul>
  </div>
</nav> -->

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-header">
       
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
         <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
      </button> <a class="navbar-brand" routerLink = "/home">SITE</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/art">Art</a></li>
        <li routerLinkActive="active"><a routerLink="/category">Categories</a></li> 
        <li routerLinkActive="active"><a routerLink="/login">Login</a></li> 
        <!-- <li class="dropdown">
           <a class="dropdown-button" data-toggle="dropdown" id="dropdownMenuButton">Dropdown<strong class="caret"></strong></a>
          <ul class="dropdown-menu">
            <li>
              <a href="#">Action</a>
            </li>
            <li>
              <a href="#">Another action</a>
            </li>
            <li>
              <a href="#">Something else here</a>
            </li>
            <li class="divider">
            </li>
            <li>
              <a href="#">Separated link</a>
            </li>
            <li class="divider">
            </li>
            <li>
              <a href="#">One more separated link</a>
            </li>
          </ul>
        </li> -->
        <li><a class="dropdown-button" href="#!" data-activates="dropdown1" ><strong class="caret"></strong>
            Dropdown</a></li>
      </ul>
    </div>